@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
//  font-family: "微软雅黑";
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
    //  text-align: center;
}

a {
    text-decoration: none;
}

.clearFix {
    clear: both;
}
.icon-top{
    position: fixed;
    z-index: 15;
    width: 1rem;
    height: 1rem;
    font-size: 20px;
    text-align: center;
    line-height: 1rem;
    border-radius: 50%;
    border: 1px solid #dedede;
    color: #9c9c9c;
    right: 2%;
    background: white;
    bottom: 15%;
}
span{
    display: inherit;
}
header {
    width: 100%;
    height: 1rem;
    border-bottom: 1px solid #EEEEEE;
    .header {
        width: 100%;
        height: 1rem;
        background: white;
        padding: 0.16rem 0.18rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #EEEEEE;
        position: fixed;
        top: 0;
        left: 0;
        img {
            width: 30%;
        }
        .bt{
                font-size: 0.36rem;
                text-align: center;
                line-height: 0.68rem;
                margin-left: -0.8rem;
            }
        .hyou {
            ul {
                display: flex;
                color: #CCCCCC;
                li {
                    text-align: center;
                    margin-top: -0.07rem;
                    //                  margin-left: 1rem;
                    .iconfont {
                        font-size: 0.45rem;
                        margin-bottom: 3px;
                    }
                    .zi {
                        font-size: 0.22rem;
                    }
                   
                }
            }
        }
    }
}

.qw{
    width: 100%;
    padding: 0 0.17rem;
    ul{
        width: 100%;
        li{
            padding: 0.36rem 0;
            padding-left: 0.17rem;
            border-bottom: 1px solid #EEEEEE;
            .shang{
                display: flex;
                justify-content: space-between;
                height: 0.6rem;
                margin-bottom: 0.36rem;
                .iconfont{
                    width: 0.6rem;
                    height: 0.6rem;
                    background: #dcdcdc;
                    font-size: 0.38rem;
                    color: white;
                    border-radius:50% ;
                    display: inline-block;
                    text-align: center;
                    line-height: 0.7rem;
//                  text-align: left;
                    
                }
                .name{
                    font-size: 0.28rem;
                    color: #37C993;
                    text-align: left;
                    line-height: 0.6rem;
                }
                .time{
                        font-size: 0.28rem;
                    line-height: 0.6rem;
                    text-align: right;
                        color: #999999;
                }
                .p1{
                    display: flex;
                    justify-content: flex-start;
                }
            }
            .xia{
                    font-size: 0.36rem;
                    
                }
        }
    }
    .but {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 0.24rem;
            margin-bottom: 0.36rem;
            button {
                height: 0.82rem;
                //                  height: 100%;
                width: 100%;
                border: 1px solid #EEEEEE;
                //                  border: none;
                color: white;
                font-size: 0.36rem;
                background: #39C893;
            }
            .fen {
                height: 0.82rem;
                background: white;
                width: 100%;
                //                  height: 100%;
                border: 1px solid #EEEEEE;
                text-align: center;
                line-height: 0.82rem;
                font-size: 0.3rem;
            }
        }
}

.wenzhang {
    padding: 0.36rem 0.16rem;
    margin-bottom: 0.2rem;
    border-bottom: 0.18rem solid #F4F4F4;
    border-top:  0.18rem solid #F4F4F4;
    font-size: 0.29rem;
    background: white;
}
.tel {
    background: white;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    p {
        &:nth-of-type(1) {
            font-size: 0.32rem;
            color: #00BE9C;
            margin-top: 0.05rem;
        }
        &:nth-of-type(2) {
            font-size: 0.28rem;
            color: #333;
        }
    }
}

.foo {
    background: white;
    border-bottom: 1px solid #EEEEEE;
    width: 100%;
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        li {
            height: 1rem;
            width: 25%;
            text-align: center;
            font-size: 0.28rem;
            line-height: 1rem;
        }
    }
    .active {
        color: #00BE9C;
    }
}
footer {
    height: 1.06rem;
    //      padding: 2rem;
    //      background: rgba(0,0,0,0.8);
    .footer {
        height: 1.06rem;
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        //          padding: ;
        img{
            width: 20%;
        }
            i{
                margin-top: 0.1rem;
                 p{
                font-size: 0.32rem;
//                  text-align: center;
                }
            }
            button {
                width: 1.75rem;
                height: 0.5rem;
                border: none;
                color: white;
                background: #FEB605;
                border-radius: 0.25rem;
                margin-top: 0.24rem;
                margin-left: 0.2rem;
                font-size: 0.24rem;
            }
        .xx {
            position: absolute;
            left: 0;
            top: 0;
            width:8%;
        }
    }
}