@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑"; }

li {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none; }

.clearFix {
  clear: both; }

.icon-top {
  position: fixed;
  z-index: 15;
  width: 1rem;
  height: 1rem;
  font-size: 20px;
  text-align: center;
  line-height: 1rem;
  border-radius: 50%;
  border: 1px solid #dedede;
  color: #9c9c9c;
  right: 2%;
  background: white;
  bottom: 15%; }

header {
  width: 100%;
  height: 1rem; }
  header .header {
    width: 100%;
    height: 1rem;
    background: white;
    padding: 0.16rem 0.18rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0; }
    header .header img {
      width: 30%; }
    header .header .bt {
      font-size: 0.36rem;
      text-align: center;
      line-height: 0.68rem;
      margin-left: -0.8rem; }
    header .header .hyou ul {
      display: flex;
      color: #CCCCCC; }
      header .header .hyou ul li {
        text-align: center;
        margin-top: -0.07rem; }
        header .header .hyou ul li .iconfont {
          font-size: 0.45rem;
          margin-bottom: 3px; }
        header .header .hyou ul li .zi {
          font-size: 0.22rem; }

.box {
  width: 100%;
  padding: 0 0.17rem; }
  .box .bt {
    font-size: 0.36rem;
    text-align: center;
    margin: 0.36rem 0; }
  .box .hr1 {
    width: 100%;
    position: relative;
    margin-bottom: 0.36rem; }
    .box .hr1 .xian {
      width: 100%;
      background: #CCCCCC;
      height: 1px; }
    .box .hr1 .bg {
      height: 0.25rem;
      width: 1.25rem;
      position: absolute;
      left: 50%;
      margin-left: -0.625rem;
      background: white;
      top: -0.125rem; }
    .box .hr1 img {
      text-align: center;
      height: 0.25rem;
      width: 0.75rem;
      position: absolute;
      left: 50%;
      margin-left: -0.375rem;
      background: white;
      top: -0.125rem; }
  .box ul {
    width: 100%; }

.inp {
  width: 100%;
  text-align: center; }
  .inp input {
    margin: 0 auto;
    width: 78%;
    display: inherit;
    height: 0.7rem;
    border: 1px solid #EAEAEA;
    font-size: 0.28rem;
    color: #CACACA;
    margin-bottom: 0.25rem;
    border-radius: 5px;
    padding: 0.1rem; }
  .inp button {
    margin: 0 auto;
    width: 78%;
    display: inherit;
    height: 0.7rem;
    border: none;
    font-size: 0.36rem;
    color: #FFFFFF;
    background: #FEB605;
    margin-bottom: 0.36rem;
    border-radius: 5px; }

.shenme {
  padding: 0 0.17rem; }
  .shenme div {
    width: 100%;
    margin-top: 0.52rem;
    border: 2px dotted #3AC893;
    padding: 0.12rem;
    position: relative; }
    .shenme div .p1 {
      position: absolute;
      font-size: 0.36rem;
      left: 22%;
      top: -0.28rem;
      background: white; }
    .shenme div .p2 {
      font-size: 0.26rem;
      margin-top: 0.24rem; }

.lc {
  width: 100%; }
  .lc ul {
    width: 100%;
    display: flex;
    justify-content: center; }
    .lc ul li {
      text-align: center;
      width: 29%;
      padding: 0.34rem 0;
      margin-bottom: 0.32;
      margin: 0.2rem;
      border: 2px solid #00BE9C; }
      .lc ul li div {
        margin: 0 auto;
        font-size: 0.56rem;
        width: 1rem;
        height: 1rem;
        color: #00BE9C;
        border: 2px solid #00BE9C;
        border-radius: 50%;
        text-align: center;
        line-height: 0.95rem; }
      .lc ul li .p1 {
        font-size: 0.28rem;
        margin: 0.12rem 0; }
      .lc ul li .p2 {
        font-size: 0.24rem; }

.tj {
  width: 100%;
  padding: 0 0.17rem;
  padding-bottom: 0.25rem; }
  .tj ul {
    width: 100%; }
    .tj ul li {
      text-align: center;
      width: 50%;
      float: left;
      padding: 0.36rem 0;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee; }
      .tj ul li div {
        margin: 0 auto;
        font-size: 0.56rem;
        width: 1rem;
        height: 1rem;
        background: #39c893;
        color: white;
        border-radius: 50%;
        text-align: center;
        line-height: 1rem; }
      .tj ul li .p2 {
        font-size: 0.28rem;
        margin: 0.12rem 0; }

.wenzhang {
  padding: 0.36rem 0.16rem;
  margin-bottom: 0.2rem;
  border-bottom: 0.18rem solid #F4F4F4;
  border-top: 0.18rem solid #F4F4F4;
  font-size: 0.29rem;
  background: white; }

.tel {
  background: white;
  padding: 0.2rem;
  display: flex;
  justify-content: center; }
  .tel p:nth-of-type(1) {
    font-size: 0.32rem;
    color: #00BE9C;
    margin-top: 0.05rem; }
  .tel p:nth-of-type(2) {
    font-size: 0.28rem;
    color: #333; }

.foo {
  background: white;
  border-bottom: 1px solid #EEEEEE;
  width: 100%; }
  .foo ul {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .foo ul li {
      height: 1rem;
      width: 25%;
      text-align: center;
      font-size: 0.28rem;
      line-height: 1rem; }
  .foo .active {
    color: #00BE9C; }

/*# sourceMappingURL=daikuan.css.map */
