@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微软雅黑"; }

li {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none; }

.clearFix {
  clear: both; }

.sou {
  padding: 0.17rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.18rem solid #F4F4F4; }
  .sou input {
    display: block;
    width: 81%;
    width: 100%;
    height: 0.7rem;
    border: 2px solid #39C894;
    padding-left: 0.2rem;
    font-size: 0.28rem;
    color: #aaaaaa; }
  .sou button {
    display: block;
    width: 19%;
    height: 0.7rem;
    border: none;
    background: #39C894;
    color: white; }

.dh {
  width: 100%;
  padding: 0 0.17rem;
  border-bottom: 0.17rem solid #F4F4F4; }
  .dh .ul1 {
    width: 100%;
    display: flex;
    justify-content: center; }
    .dh .ul1 li {
      width: 33.3333%;
      text-align: center;
      height: 0.75rem;
      text-align: center;
      line-height: 0.75rem;
      font-size: 0.28rem; }
    .dh .ul1 .active {
      border-bottom: 2px solid #39C894; }
  .dh .ul2 {
    width: 100%;
    display: flex;
    margin-bottom: 0.32rem; }
    .dh .ul2 li {
      width: 25%;
      text-align: center; }
      .dh .ul2 li div {
        margin: 0 auto;
        margin-top: 0.36rem;
        margin-bottom: 0.32rem;
        width: 1.05rem;
        height: 1.05rem;
        text-align: center;
        line-height: 1rem;
        color: #39C894;
        border: 3px solid #39C894;
        border-radius: 50%;
        font-size: 0.64rem; }
      .dh .ul2 li p {
        font-size: 0.28rem; }
  .dh button {
    display: block;
    width: 100%;
    height: 0.7rem;
    background: white;
    border: 1px solid #38CA94;
    font-size: 0.32rem;
    color: #38CA94;
    border-radius: 5px;
    margin-bottom: 0.36rem; }

.box {
  width: 100%;
  padding: 0 0.17rem;
  border-bottom: 0.18rem solid #F4F4F4; }
  .box ul {
    width: 100%; }
    .box ul li {
      display: flex;
      justify-content: flex-start;
      border-bottom: 1px solid #EEEEEE;
      padding: 0.35rem 0;
      background: white; }
      .box ul li .bzuo {
        margin-right: 0.25rem;
        width: 2.8rem;
        height: 1.95rem; }
        .box ul li .bzuo img {
          width: 100% !important;
          height: 100%; }
      .box ul li .byou .p1 {
        font-size: 0.36rem;
        margin-bottom: 0.4rem; }
      .box ul li .byou .p3 {
        font-size: 0.28rem;
        color: #999; }
        .box ul li .byou .p3 span {
          font-size: 0.1rem; }
        .box ul li .byou .p3 .iconfont {
          font-size: 0.32rem; }
  .box button {
    display: block;
    width: 100%;
    height: 0.7rem;
    background: white;
    border: 1px solid #38CA94;
    font-size: 0.32rem;
    color: #38CA94;
    border-radius: 5px;
    margin-bottom: 0.36rem; }

.wenzhang {
  padding: 0.36rem 0.16rem;
  margin-bottom: 0.2rem;
  border-bottom: 0.18rem solid #F4F4F4;
  font-size: 0.29rem;
  background: white; }

.tel {
  background: white;
  padding: 0.2rem;
  display: flex;
  justify-content: center; }
  .tel p:nth-of-type(1) {
    font-size: 0.32rem;
    color: #00BE9C;
    margin-top: 0.05rem; }
  .tel p:nth-of-type(2) {
    font-size: 0.28rem;
    color: #333; }

.foo {
  background: white;
  border-bottom: 1px solid #EEEEEE;
  width: 100%; }
  .foo ul {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .foo ul li {
      height: 1rem;
      width: 25%;
      text-align: center;
      font-size: 0.28rem;
      line-height: 1rem; }
  .foo .active {
    color: #00BE9C; }

footer {
  height: 1.06rem; }
  footer .footer {
    height: 1.06rem;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%; }
    footer .footer img {
      width: 20%; }
    footer .footer i {
      margin-top: 0.1rem; }
      footer .footer i p {
        font-size: 0.32rem; }
    footer .footer button {
      width: 1.75rem;
      height: 0.5rem;
      border: none;
      color: white;
      background: #FEB605;
      border-radius: 0.25rem;
      margin-top: 0.24rem;
      margin-left: 0.2rem;
      font-size: 0.24rem; }
    footer .footer .xx {
      position: absolute;
      left: 0;
      top: 0;
      width: 8%; }

/*# sourceMappingURL=gonglue.css.map */
